@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html,
body {
    min-height: 100%
}

body {

    /* background: #642B73; */
    background: linear-gradient(to bottom, #58af47, #f1aa3c);
    /* display: flex;
    align-items: center;
    justify-content: center; */

    font-family: 'Open Sans', sans;
    overflow: clip visible;
    perspective: 1800px;
    text-align: center;
    margin: 15px 20px;

    height: auto;
}

.container1 {
    display: flex;
}

.face {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.insta_section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#insta_SVG {
    width: 30px;
    fill: #58af47;
}

.insta_pseudo {
    margin-left: 8px;
}

h1 {
    color: #3e3e42;
    font-size: 34px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    color: #f1aa3c;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.cards {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17);
    display: inline-block;
    padding: 30px 35px;
    perspective: 1800px;
    text-align: left;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;

    min-width: 595px;
    height: auto;
    margin-bottom: 35px;
}

.card {
    margin-right: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: inline-block;
    height: 250px;
    overflow: hidden;
    perspective: 1200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 200ms ease-out;
    width: 175px;
    text-align: center;

}

.card__img {
    position: relative;
    height: 100%;
}


.card__img {
    top: 14px;
    right: -10px;
    height: 110%;
}


.card__text {
    background-color: #254b60;
}



.card__img {
    top: 25px;
}


.card__text {
    background-color: #274a2e;
}


.card__img {
    top: 5px;
    left: -4px;
    height: 110%;
}


.card__text {
    background-color: #3e2222;
}


.card__text {
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.card__title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
    margin-bottom: 3px;
}


.separation {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.goback {
    text-align: center;


}

.back-button {
    width: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.back-button p {
    margin: 0;
    margin-left: 3px;
}

.card_1-1 {
    background-image: url(./tofs/aurel2.jpg);
    background-size: contain;
}

.card_1-2 {
    background-image: url(./tofs/agathe.jpg);
    background-size: contain;
}

.card_2-1 {
    background-image: url(./tofs/cecile.jpg);
    background-size: contain;
}

.card_2-2 {
    background-image: url(./tofs/faucheur.jpg);
    background-size: contain;
}

.card_3-1 {
    background-image: url(./tofs/pierre.jpg);
    background-size: contain;
}

.card_3-2 {
    background-image: url(./tofs/dora.jpg);
    background-size: contain;
}

.card_4-1 {
    background-image: url(./tofs/pauline.jpg);
    background-size: contain;
}

.card_4-2 {
    background-image: url(./tofs/simon.jpg);
    background-size: contain;
}

.card_5-1 {
    background-image: url(./tofs/greg.jpg);
    background-size: contain;
}

.card_5-2 {
    background-image: url(./tofs/jules.jpg);
    background-size: contain;
}

.card_6-1 {
    background-image: url(./tofs/teyssieux.jpg);
    background-size: contain;
}

.card_7-1 {
    background-image: url(./tofs/andrea.jpg);
    background-size: contain;
}

.card_7-2 {
    background-image: url(./tofs/come.jpg);
    background-size: contain;
}

.card_7-3 {
    background-image: url(./tofs/heloise.jpg);
    background-size: contain;
}

.card_8-1 {
    background-image: url(./tofs/alexis.jpg);
    background-size: contain;
}
.card_8-2 {
    background-image: url(./tofs/galipo.jpg);
    background-size: contain;
}

.card_9-1 {
    background-image: url(./tofs/iman.jpg);
    background-size: contain;
}

.card_10-1 {
    background-image: url(./tofs/camille.jpg);
    background-size: contain;
}

.card_11-1 {
    background-image: url(./tofs/hugo.jpg);
    background-size: contain;
}

.card_12-1 {
    background-image: url(./tofs/saka.jpg);
    background-size: contain;
}

.card_13-1 {
    background-image: url(./tofs/maxime.jpg);
    background-size: contain;
}
.card_13-2 {
    background-image: url(./tofs/fantine.jpg);
    background-size: contain;
}

.card_14-1 {
    background-image: url(./tofs/audrey.jpg);
    background-size: contain;
}

.card_15-1 {
    background-image: url(./tofs/mege.jpg);
    background-size: contain;
}

.card_15-2 {
    background-image: url(./tofs/loic.jpg);
    background-size: contain;
}